html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #DAA520;
}

h2{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #DAA520;
}
h3{
    font-size: 20px;
    color: #DAA520;
}

h4{
    font-size: 30px;
    color: #DAA520;
}

#p1{
    color: #DAA520;
}

#p2{
    color: #DAA520;    
}


header{
    padding-top: 0px;
    height: 690px;
    background-image:url(Geneve.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.logo{
    position: relative;
    top: 100px;
    left: 150px;
}

footer{
    height: 200px;
    padding-top: 30px;
    text-align: center;
    background-color: #00006d;
    border-top: 60px solid #030338;
}

nav{
    width: 100%;
    background-color: #00006d;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover, .menu-qui:hover, .menu-ser:hover, .menu-dia:hover, .menu-con:hover{
    border-top: 2px solid #DAA520;
}


nav li:hover a{
    padding: 15px 30px 20px 30px;
}

section{
    width: 100%;
    border-top: 5px solid #DAA520;
}

.sec{
    margin: 0px 10%;
}

.left{
    float: left;
    width: 28%;
}
.mid{
    float: right;
    width: 70%;
}

.right{
    float: right;
    width: 29%;
}

.ileft{
    margin-left: 0px;
    float: left;
}

.iright{
    margin-right: 0px;
    display: inline-block;
}

.right2{
    float: right;
    width: 50%;

}

.left2{
    float: left;
    width: 50%;
}

.resize{
    width: 88px;
    height: 100px;
}

.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 45%;
    float: left;
    margin: 5%;
}

.card:hover{
    width: 200px;
    border-top: 2px solid #DAA520;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    text-decoration: none;
    text-align: start;
    line-height: 50px;
    color: #DAA520;
    font-size: 40px;
}

.social-menu ul {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 160px;
    right: 47px;
}
.social-menu ul li{
    list-style: none;
}
.social-menu ul li .fab{
    font-size: 30px;
    line-height: 30px;
    transition: .9s;
    color: #DAA520;
}
.social-menu ul li .fab:hover{
    color: #DAA520;
}
.social-menu ul li a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    transition: .9s;

}
.social-menu ul li a:hover{
    transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #FFFC00;
}