html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

ul{
    padding: inherit;
    margin: inherit;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}


h3{
    font-size: 25px;
    color: #DAA520;
}

h4{
    font-size: 30px;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}

p{
    font-size: 18px;
    color: #00006d;
}

.liste{
    font-size: 18px;
    color: #00006d;
}

#p1{
    font-size: 15px;
    color: #DAA520;
}

#p2{
    font-size: 10px;
    color: #DAA520;    
}

#p3{
    font-size: 15px;
    color: ivory;
}

a{
    color: #DAA520;
}

.a1{
    color: #00006d;
    text-decoration: none;
}

header{
    padding-top: 0px;
    height: 690px;
    background-image:url(Photos/Geneve.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.header-video{
    padding-top: 0px;
    height: 854px;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.video{
    padding-top: 0px;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1024px){
    .video{
       /* min-width: 1024px;
        height: 854px;
        display: inline;*/
        width: auto;
    }
} 

#video{
    position: relative;
    background-size: cover;
    background-position: center;
    /*display: flex;*/
  }
  
.logo{
    position: absolute;
    top: 70px;
    left: 120px;
}
@media screen and (max-width: 812px){
    .logo,  #logo{
        top: 35px;
        left: 40px;
        width: 75px
    }
}
@media screen and (min-width: 775px) and (max-width: 1024px){
    .logo,  #logo{
        top: 40px;
        left: 60px;
        width:100px
}
}

footer{
    height: 320px;
    padding-top: 0px;
    text-align: center;
    background-color: #00006d;
}

nav{
    width: 100%;
    background-color: #00006d;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
}
/* @media screen and (max-width: 360px){
    .table{
        
    }
} */

.menu-ind:hover, .menu-qui:hover, .menu-ser:hover, .menu-dia:hover, .menu-con:hover{
    border-top: 2px solid #DAA520;
}


nav li:hover a{
    padding: 15px 30px 20px 30px;
}

section{
    display:flow-root;
    width: 100%;
    border-top: 5px solid #DAA520;
}

.sec{
     margin: 0px 4%; 
}

.left{
    float: left; 
    width: 33%;
    text-align: center;
}

.center{
     float: left; 
    width: 33%;
    text-align: center;
}

.right{
    float: right; 
    width: 33%;
    text-align: center;
}

.team-left{
    float: left; 
    width: 45%;
    text-align: center;
}

.team-right{
    float: right; 
    width: 45%;
    text-align: center
}

.images{
    border-top: none;
    display: flex;
    padding-bottom: 3%;
}

.ileft{
    flex: 50%;
    padding-right: 0.2%;
}
@media screen and (max-width: 812px){
    .ileft, .geneve-night-responsive{
        width:382px;
        height: 420px;
    }
}
@media screen and (min-width: 775px) and (max-width: 1024px){
    .ileft, .geneve-night-responsive{
        width: 512px;
        height: 540px;
    }
}

.iright{
    flex: 50%;
}
@media screen and (max-width: 812px){
    .iright, .dubai-night-responsive{
        width:383px;
        height: 420px;
    }
}
@media screen and (min-width: 775px) and (max-width: 1024px){
    .iright, .dubai-night-responsive{
        width: 512px;
        height: 540px;
    }
}

.right2{
    float: right;
    width: 49%;
}

.left2{
    float: left;
    width: 49%;
    margin-bottom: 40px;
}

.left3{
    margin-top: 95px;
    background-image: url(photos/hands.jpg);
    background-size: 100% 100%;
    text-indent: 2em;
    float: left;
    width: 35%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
}

.left4{
    float: left;
    width: 20%;
    margin-bottom: 40px;
    margin-left: 200px;
}

.resize{
    width: 88px;
    height: 100px;
}

.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 45%;
    float: left;
    margin: 5%;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}
@media screen and (max-width: 770px){
    .header-video{
        height: 432px;
    }
}
 @media screen and (min-width: 775px) and (max-width: 1024px){
    .header-video{
        height: 576px;
    }
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 30px;
    text-decoration: none;
    text-align: start;
    line-height: 50px;
    color: #DAA520;
    font-size: 40px;
    cursor: pointer;
   /* opacity: 0;
    pointer-events: none;*/
    transition: all .4s;
   /* animation: fadeInRight 1s 1 cubic-bezier(.77,0,.175,1);*/
}
.gotopbtn:hover{
    text-shadow: 1px 1px 4px;
}
.gotopbtn.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
@media screen and (max-width: 1024px){
    .gotopbtn{
        display: none;
    }
}

/* .social-menu{
    display: flex;
    padding-top: 20px;
} */

.link{
    width: 100%;
    background-color: #030338;
    display: flex;
    height: 60px;
    margin: auto;
    border-top: 5px solid #DAA520;
}

.horaires{
    width: 100%;
    margin: auto;
}

.link ul {
    height: 30px;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
.link ul li{
    list-style: none;
}
.link ul li .fab{
    font-size: 32px;
    line-height: 40px;
    transition-duration: .9s;
    color: #DAA520;
}
.link ul li .fab:hover{
    color: #DAA520;
}
.link ul li a{
    margin-bottom: 4px;
    position: relative;
    display:flow-root;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .9s;
}
.link ul li a:hover{
    transform: translate(0, -5px);
}
.link ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.link ul li:nth-child(2) a:hover{
    background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
}
.link ul li:nth-child(3) a:hover{
    background-color: #FFFC00;
}

.devis{
    float: right;
    background-color:  #DAA520;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
}

.ml2 {
    font-weight: 700;
    font-size: 2.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .card{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .card:hover{
    width: 203px;
}
  #card{
    margin-left: 658px;
    margin-right: 658px;
}

  .picteam{
      border: 6px solid  #9090b3;
      border-radius: 50%;
  }

  #font{
      font-size: 80px;
      color: #DAA520;
      margin-left: 30px;
  }

  form{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 22px;
    padding-top:8px;
    padding-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
	background-color:#DAA520;
}

label.left{
	float: left;
	font-weight:bold;
}

#commentaires{
    border-radius: 4px;
}

#case{
    border-radius: 4px;
}

#submit{
		background-color: #00006d;
		border-radius: 4px;
		color: white;
		font-size: 1em;
		height: 40px;
		width: 96px;
        border: 0px solid;
        margin-left: 44%;
        margin-top: -10px;
}
    
#liste-diamond{
        font-size: 13px;
        color: #DAA520;
}

.single-content .title{
        margin: 0;
        position: absolute;
        font-size: 20px;
        color: #fff;
}
    .single-content{
        position: relative;
        overflow: hidden;
        width: 260px;
        height: 310px;
        margin-left: 180px;
        margin-right: 170px;
        margin-bottom: 50px;
    }
    .single-content img{
        width: 260px;
        height: 310px;
    }
    .single-content .img-text{
        width: 260px;
        height: 310px;
        background: rgba(218,165,32,.5);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: perspective(260px) rotateX(-90deg);
        transform-origin: center top 0;
        transition: .5s;
        padding: 35% 0 0;
        color: #fff;
        text-align: center;
        font-size: 30px;
    }
    .single-content:hover .img-text{
        opacity: 1;
        transform: perspective(260px) rotateX(0);
    }
.single-content .title{
    bottom: 25px;
    left: 25px;
    transition: .9s;
    font-size: 20px;
    text-transform: uppercase;
}
.single-content .title:before{
    content: "";
    border-right: 3px solid #fff;
    margin-right: 10px;
}
.single-content:hover .title{
    bottom: -50px;
}

.animated-text span:not(.fade) {
    opacity:0;
}

.animated-text span{
    transition: all .4s;
    display: inline-block;
}

.animated-text--typing span.fade + span:not(.fade){
    transition: none;
    background:  #DAA520;
    opacity: 1;
    color: transparent;
}

@media screen and (max-width: 360px){
    .ml2{
        font-size: 1.3em;
    }
    header{
        height: 200px;
    }
    .header-video{
        height: 202.5px;
    }
    .logo,  #logo{
        top: 10px;
        left: 20px;
        width: 45px
    }
    p{
        font-size: 12px;
    }
    h3{
        font-size: 15px;
    }
    h1{
        font-size: 22px;
    }
    h4{
        font-size: 19px;
    }
    .ileft, .geneve-night-responsive{
        width:179px;
        height: 220px;
    }
    .iright, .dubai-night-responsive{
        width:180px;
        height: 220px;
    }
    #p1{
        font-size: 8px;
    }
    #p2{
        font-size: 5px;   
    }
    footer{
        height: 200px;
    }
    
    .link ul li .fab{
        font-size: 22px;
    }
    .link{
        height: 42px;
    }
    .table{
        height: 40px;
        display: flex;
    }
    nav li a {
        font-size: 7.8px;
    }
    .single-content img {
        width: 150px;
        height: 180px;
    }
    .single-content {
        position: relative;
        margin-left: 0px;
        width: 150px;
        height: 180px;
        margin-bottom: 0px;
    }
    .liste {
        font-size: 12px;
    }
    .images{
        margin-left: 0px;
    }
    .geneve2-responsive,.dubai3-responsive{
        width: 180px;
        height: 220px;
    }
}
