html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

ul{
    padding: inherit;
    margin: inherit;
}
h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}
h3{
    font-size: 25px;
    color: #DAA520;
}

h4{
    font-size: 30px;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}

p{
    font-size: 18px;
    color: #00006d;
}

#p1{
    font-size: 15px;
    color: #DAA520;
}

#p2{
    font-size: 10px;
    color: #DAA520;    
}

#p3{
    font-size: 15px;
    color: ivory;
}

a{
    color: #DAA520;
}

.a1{
    color: #00006d;
    text-decoration: none;
}

header{
    padding-top: 0px;
    height: 690px;
    background-image:url(Photos/Geneve.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.logo{
    position: absolute;
    top: 100px;
    left: 150px;
}

footer{
    height: 320px;
    padding-top: 0px;
    text-align: center;
    background-color: #00006d;
}

nav{
    width: 100%;
    background-color: #00006d;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover, .menu-qui:hover, .menu-ser:hover, .menu-dia:hover, .menu-con:hover{
    border-top: 2px solid #DAA520;
}


nav li:hover a{
    padding: 15px 30px 20px 30px;
}

section{
    display:flow-root;
    width: 100%;
    border-top: 5px solid #DAA520;
}

.sec{
     margin: 0px 4%; 
}

.left{
    float: left; 
    width: 33%;
    text-align: center;
}
.center{
     float: left; 
    width: 33%;
    text-align: center;
}

.right{
    float: right; 
    width: 33%;
    text-align: center;
}

.images{
    border-top: none;
    display: flex;
    padding-bottom: 3%;
}

.ileft{
    flex: 50%;
    padding-right: 0.2%;
}

.iright{
    flex: 50%;
}
.right2{
    float: right;
    width: 49%;
}

.left2{
    float: left;
    width: 49%;
}

.left3{
    margin-top: 95px;
    background-image: url(photos/hands.jpg);
    background-size: 100% 100%;
    text-indent: 2em;
    float: left;
    width: 35%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
}

.resize{
    width: 88px;
    height: 100px;
}

.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 45%;
    float: left;
    margin: 5%;
}

.card:hover{
    float: right;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    text-decoration: none;
    text-align: start;
    line-height: 50px;
    color: #DAA520;
    font-size: 40px;
}


.social-menu{
    display: flex;
    padding-top: 20px;
}
.link{
    width: 100%;
    background-color: #030338;
    display: flex;
    height: 60px;
    margin: auto;
    border-top: 5px solid #DAA520;
}
.horaires{
    width: 100%;
    margin: auto;
}

.link ul {
    height: 30px;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
.link ul li{
    list-style: none;
}
.link ul li .fab{
    font-size: 32px;
    line-height: 40px;
    transition-duration: .9s;
    color: #DAA520;
}
.link ul li .fab:hover{
    color: #DAA520;
}
.link ul li a{
    margin-bottom: 4px;
    position: relative;
    display:flow-root;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .9s;
}
.link ul li a:hover{
    transform: translate(0, -5px);
}
.link ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.link ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
.link ul li:nth-child(3) a:hover{
    background-color: #FFFC00;
}

.devis{
    float: right;
    background-color:  #DAA520;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
}

.ml2 {
    font-weight: 700;
    font-size: 2.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .ml16 {
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .ml17 {
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow: hidden;
  }
  
  .ml17 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .ml18 {
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow: hidden;
  }
  .ml18 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  #video{
    position: relative;
    background-size: cover;
    background-position: center;
    min-width: 100%; 
    max-height: 100%;
  }
  
  .card{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .picteam{
      border: 6px solid  #9090b3;
      border-radius: 50%;
  }

  #font{
      font-size: 80px;
      color: #DAA520;
      margin-left: 30px;
  }

  form{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 22px;
    padding-top:8px;
    padding-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
	background-color:#DAA520;
}

label.left{
	float: left;
	font-weight:bold;
}

#commentaires{
    border-radius: 4px;
}

#case{
    border-radius: 4px;
}

#submit{
		background-color: #00006d;
		border-radius: 4px;
		color: white;
		font-size: 1em;
		height: 40px;
		width: 96px;
        border: 0px solid;
        margin-left: 45%;
        margin-top: -10px;
	}