html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

ul{
    padding: inherit;
    margin: inherit;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}


h3{
    font-size: 25px;
    color: #DAA520;
}

h4{
    font-size: 30px;
    color: #DAA520;
    text-shadow: 2px 2px 4px;
}

p{
    font-size: 18px;
    color: #00006d;
}

.liste{
    font-size: 18px;
    color: #00006d;
}

#p1{
    font-size: 15px;
    color: #DAA520;
}

#p2{
    font-size: 10px;
    color: #DAA520;    
}

#p3{
    font-size: 15px;
    color: ivory;
}

a{
    color: #DAA520;
}

.a1{
    color: #00006d;
    text-decoration: none;
}

header{
    padding-top: 0px;
    height: 690px;
    background-image:url(Photos/Geneve.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.header-video{
    padding-top: 0px;
    height: 854px;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.video{
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

#video{
    position: relative;
    background-size: cover;
    background-position: center;
    /*display: flex;*/
  }
  
.logo{
    position: absolute;
    top: 50px;
    left: 120px;
}

footer{
    height: 280px;
    padding-top: 0px;
    text-align: center;
    background-color: #00006d;
}

nav{
    width: 100%;
    background-color: #00006d;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
}

.menu-ind:hover, .menu-qui:hover, .menu-ser:hover, .menu-dia:hover, .menu-con:hover{
    border-top: 2px solid #DAA520;
}


nav li:hover a{
    padding: 15px 30px 20px 30px;
}

section{
    display:flow-root;
    width: 100%;
    border-top: 5px solid #DAA520;
}

.sec{
     margin: 0px 4%; 
}

.left{
    float: left; 
    width: 33%;
    text-align: center;
}

.center{
     float: left; 
    width: 33%;
    text-align: center;
}

.right{
    float: right; 
    width: 33%;
    text-align: center;
}

.team-left{
    float: left; 
    width: 45%;
    text-align: center;
}

.team-up{
    width: 100%;
    text-align: center;
}

.team-right{
    float: right; 
    width: 45%;
    text-align: center
}

.images{
    border-top: none;
    display: flex;
    padding-bottom: 3%;
}
.images_services{
    border-top: none;
    display: flex;
    padding-bottom: 3%;
}

.ileft{
    flex: 50%;
    padding-right: 0.2%;
}

.iright{
    flex: 50%;
}

.right2{
    float: right;
    width: 49%;
}
.right3{
    float: right;
    width: 49%;
}
.left2{
    float: left;
    width: 49%;
    margin-bottom: 40px;
}

.left3{
    margin-top: 95px;
    background-image: url(Photos/hands.jpg);
    background-size: 100% 100%;
    text-indent: 2em;
    float: left;
    width: 35%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
}

.left4{
    float: left;
    width: 20%;
    margin-bottom: 40px;
    margin-left: 200px;
}

.resize{
    width: 88px;
    height: 100px;
}

.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 45%;
    float: left;
    margin: 5%;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 30px;
    text-decoration: none;
    text-align: start;
    line-height: 50px;
    color: #DAA520;
    font-size: 40px;
    cursor: pointer;
   /* opacity: 0;
    pointer-events: none;*/
    transition: all .4s;
   /* animation: fadeInRight 1s 1 cubic-bezier(.77,0,.175,1);*/
}
.gotopbtn:hover{
    text-shadow: 1px 1px 4px;
}
.gotopbtn.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.link{
    width: 100%;
    background-color: #030338;
    display: flex;
    height: 60px;
    margin: auto;
    border-top: 5px solid #DAA520;
}

.horaires{
    width: 100%;
    margin: auto;
}

.link ul {
    height: 30px;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
.link ul li{
    list-style: none;
}
.link ul li .fab{
    font-size: 32px;
    line-height: 40px;
    transition-duration: .9s;
    color: #DAA520;
}
.link ul li .fab:hover{
    color: #DAA520;
}
.link ul li a{
    margin-bottom: 4px;
    position: relative;
    display:flow-root;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .9s;
}
.link ul li a:hover{
    transform: translate(0, -5px);
}
.link ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.link ul li:nth-child(2) a:hover{
    background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
}
.link ul li:nth-child(3) a:hover{
    background-color: #FFFC00;
}

.devis{
    float: right;
    background-color:  #DAA520;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
}

.ml2 {
    font-weight: 700;
    font-size: 2.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .card{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .card:hover{
    width: 203px;
}
  #card{
    margin-left: 658px;
    margin-right: 658px;
}

  .picteam{
      border: 6px solid  #9090b3;
      border-radius: 50%;
  }

  #font{
      font-size: 80px;
      color: #DAA520;
      margin-left: 30px;
  }

  form{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 22px;
    padding-top:8px;
    padding-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
	background-color:#DAA520;
}

label.left{
	float: left;
	font-weight:bold;
}

#commentaires{
    border-radius: 4px;
}

#case{
    border-radius: 4px;
}

#submit{
		background-color: #00006d;
		border-radius: 4px;
		color: white;
		font-size: 1em;
		height: 40px;
		width: 96px;
        border: 0px solid;
        margin-left: 44%;
        margin-top: -10px;
}
    
#liste-diamond{
        font-size: 13px;
        color: #DAA520;
}

.single-content .title{
        margin: 0;
        position: absolute;
        font-size: 20px;
        color: #fff;
}
.single-content-ichem .title{
        margin: 0;
        position: absolute;
        font-size: 20px;
        color: #fff;
}
    .single-content{
        position: relative;
        overflow: hidden;
        width: 260px;
        height: 310px;
        margin-left: 100px;
        margin-right: 170px;
        margin-bottom: 50px;
    }
    .single-content-ichem{
        position: relative;
        overflow: hidden;
        width: 260px;
        height: 310px;
        margin-left: 37%;
        margin-right: 170px;
        margin-bottom: 50px;
    }
    
    .single-content img{
        width: 260px;
        height: 310px;
    }
    
    .single-content .img-text{
        width: 260px;
        height: 310px;
        background: rgba(218,165,32,.5);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: perspective(260px) rotateX(-90deg);
        transform-origin: center top 0;
        transition: .5s;
        padding: 35% 0 0;
        color: #fff;
        text-align: center;
        font-size: 30px;
    }
    .single-content-ichem .img-text{
        width: 260px;
        height: 310px;
        background: rgba(218,165,32,.5);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: perspective(260px) rotateX(-90deg);
        transform-origin: center top 0;
        transition: .5s;
        padding: 35% 0 0;
        color: #fff;
        text-align: center;
        font-size: 30px;
    }
    .single-content:hover .img-text{
        opacity: 1;
        transform: perspective(260px) rotateX(0);
    }
    .single-content-ichem:hover .img-text{
        opacity: 1;
        transform: perspective(260px) rotateX(0);
    }
.single-content .title{
    bottom: 25px;
    left: 25px;
    transition: .9s;
    font-size: 20px;
    text-transform: uppercase;
}
.single-content-ichem .title{
    bottom: 25px;
    left: 25px;
    transition: .9s;
    font-size: 20px;
    text-transform: uppercase;
}
.single-content .title:before{
    content: "";
    border-right: 3px solid #fff;
    margin-right: 10px;
}
.single-content-ichem .title:before{
    content: "";
    border-right: 3px solid #fff;
    margin-right: 10px;
}
.single-content:hover .title{
    bottom: -50px;
}
.single-content-ichem:hover .title{
    bottom: -50px;
}

.animated-text span:not(.fade) {
    opacity:0;
}

.animated-text span{
    transition: all .4s;
    display: inline-block;
}

.animated-text--typing span.fade + span:not(.fade){
    transition: none;
    background:  #DAA520;
    opacity: 1;
    color: transparent;
}

@media screen and (max-width: 360px){
    .gotopbtn{
        display: none;
    }
    .ml2{
        font-size: 1.3em;
    }
    header{
        height: 200px;
    }
    .header-video{
        height: 202.5px;
    }
    .logo,  #logo{
        top: 10px;
        left: 20px;
        width: 45px
    }
    p{
        font-size: 13px;
    }
    h3{
        font-size: 15px;
    }
    h1{
        font-size: 22px;
    }
    h4{
        font-size: 19px;
    }
    .ileft, .geneve-night-responsive{
        width:179px;
        height: 220px;
    }
    .iright, .dubai-night-responsive{
        width:180px;
        height: 220px;
    }
    #p1{
        font-size: 8px;
    }
    #p2{
        font-size: 5px;   
    }
    footer{
        height: 200px;
    }
    
    .link ul li .fab{
        font-size: 22px;
    }
    .link{
        height: 42px;
    }
    .table{
        height: 40px;
        display: flex;
    }
    nav li a {
        font-size: 7.8px;
    }
    
    .liste {
        font-size: 12.3px;
    }
    .images_services{
        margin-left: 0px;
        height: 400px;
    }
    .geneve2-responsive{
        width: 179px;
        height: 195px;
    }
    .dubai3-responsive{
        width: 180px;
        height: 195px;
    }
    .single-content img {
        width: 150px;
        height: 180px;
    }
    .single-content {
        position: relative;
        margin-left: 0px;
        width: 150px;
        height: 180px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 13px;
        left: 15px;
    }
    .single-content-ichem img {
        width: 155px;
        height: 180px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 28%;
        width: 150px;
        height: 180px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 13px;
        font-size: 15px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
        display: none;
    }
    .left4{
        width: 40%;
        margin-left: 20px;
    }
    .right2{
        width: 46%;
        margin-left: 0px;
    }
    .devis{
        width: 110px;
        height: 23px;
    }
    .a1 {
        font-size: 10px;
    }
    footer {
        height: 180px;
    }
    #p3{
        font-size: 11px;
    }
    .left3{
        width: 220px;
        height: 175px;
        margin-left: 60px;
        margin-top: 20px;
        float: none;
        padding-top: 1px;
    }
    #p4{
        font-size: 13.5px;
    }
    .right3 {
        width: 290px;
        margin-left: 32px;
        float:none;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 95px;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 24px;
    }
    #card {
        margin-left: 33%;
    }
    .card{
        width:130px;
    }
    form{
        padding-left: 10px;
        width: 260px;
    }
}

@media screen and (min-width: 669px) and (max-width: 740px){
    .gotopbtn{
        display: none;
    }
    .logo,  #logo{
        top: 30px;
        left: 50px;
        width: 75px;
    }
    header {
        height: 320px;
    }
    .header-video {
        height: 416px;
    }
    .ml2 {
        font-size: 1.8em;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    .ileft, .geneve-night-responsive {
        width: 369px;
        height: 350px;
    }
    .iright, .dubai-night-responsive {
        width: 370px;
        height: 350px;
    }
    .link{
        height: 40px;
    }
    .link ul li .fab{
        font-size: 27px;
    }
    #p1 {
        font-size: 12px;
    }
    #p2{
        font-size: 8px;
    }
    footer {
        height: 227px;
    }
    h4 {
        font-size: 24px;
    }
    .single-content img {
        width: 170px;
        height: 190px;
    }
    .single-content {
        position: relative;
        margin-left: 73px;
        width: 170px;
        height: 190px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 15px;
        left: 12px;
    }
    .single-content-ichem img {
        width: 180px;
        height: 200px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 37%;
        width: 180px;
        height: 200px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 12px;
        font-size: 15px;
    }
    .liste {
        font-size: 15px;
    }
    .images_services{
        margin-left: 0px;
        height: 410px;
    }
    .geneve2-responsive{
        width: 182.8px;
        height: 195px;
    }
    .dubai3-responsive{
        width: 182.8px;
        height: 195px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    .images_services{
        margin-left: 0px;
        height: 200px;
    }
    .devis{
        width: 120px;
        height: 25px;
    }
    .a1 {
        font-size: 12px;
    }
    h2 {
        font-size: 24px;
    }
    #card {
        margin-left: 40%;
    }
    .card{
        width:150px;
    }
    form{
        padding-left: 12px;
    }
    
    #p4{
        font-size: 15.6px;
    }
    .right3 {
        width: 350px;
        margin-left: 25px;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 120px;
    }
    #p3{
        font-size: 11px;
    }
    .left3{
        width: 35%;
    }
    label.left {
        float: none;
    }
}

@media screen and (min-width: 362px) and (max-width: 376px){
    .gotopbtn{
        display: none;
    }
    .ml2{
        font-size: 1.3em;
    }
    header{
        height: 220px;
    }
    .header-video{
        height: 210px;
    }
    .logo,  #logo{
        top: 15px;
        left: 25px;
        width: 55px;
    }
    nav li a {
        font-size: 8.3px;
    }
    p{
        font-size: 13px;
    }
    h3{
        font-size: 15px;
    }
    h1{
        font-size: 22px;
    }
    h4{
        font-size: 19px;
    }
    .ileft, .geneve-night-responsive{
        width: 186px;
        height: 210px;
    }
    .iright, .dubai-night-responsive{
        width: 187px;
        height: 210px;
    }
    #p1{
        font-size: 12px;
    }
    #p2{
        font-size: 8px;   
    }
    footer{
        height: 222px;
    }
    .link ul li .fab{
        font-size: 26px;
    }
    .link{
        height: 42px;
    }
    .table{
        height: 40px;
        display: flex;
    }
    .team-right {
        margin-right: 12px;
        width: 46%;
    }
    .team-left {
        width: 50%;
    }
    .single-content img {
        width: 135px;
        height: 160px;
    }
    .single-content {
        position: relative;
        margin-left: 11px;
        width: 150px;
        height: 160px;
        margin-bottom: 0px;
    }
    .single-content .title {
        left: 9px;
        font-size: 12px;
    }
    .single-content-ichem img {
        width: 135px;
        height: 160px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 28%;
        width: 150px;
        height: 160px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 9px;
        font-size: 13px;
    }
    .liste {
        font-size: 12.3px;
    }
    .images_services{
        margin-left: 0px;
        height: 440px;
    }
    .geneve2-responsive {
        width: 186px;
        height: 210px;
    }
    .dubai3-responsive{
        width: 187px;
        height: 210px; 
    }
    .geneve_night2-responsive, .dubai5-responsive{
        display: none;
    }
    .left4 {
        width: 40%;
        margin-left: 40px;
    }
    .right2{
        width: 47%;
        margin-left: 0px;
    }
    .devis{
        width: 113px;
        height: 25px;
    }
    .a1 {
        font-size: 11px;
    }
    #p3{
        font-size: 11px;
    }
    .left3{
        width: 240px;
        height: 195px;
        margin-left: 70px;
        margin-top: 20px;
        float: none;
        padding-top: 1px;
    }
    #p4{
        font-size: 13.5px;
    }
    .right3 {
        width: 290px;
        margin-left: 53px;
        float:none;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 95px;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 24px;
    }
    #card {
        margin-left: 33%;
    }
    .card{
        width:130px;
    }
    form{
        padding-left: 10px;
        width: 260px;
    }
}

@media screen and (min-width: 377px) and (max-width: 668px){
    .gotopbtn{
        display: none;
    }
    .logo,  #logo{
        top: 30px;
        left: 40px;
        width: 86px;
    }
    header {
        height: 340px;
    }
    .header-video {
        height: 375.5px;
    }
    h1{
        font-size: 26px;
    }
    .ml2 {
        font-size: 1.6em;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
    .ileft, .geneve-night-responsive {
        width: 332px;
        height: 320px;
    }
    .iright, .dubai-night-responsive {
        width: 333px;
        height: 320px;
    }
    .link{
        height: 40px;
    }
    .link ul li .fab{
        font-size: 27px;
    }
    #p1 {
        font-size: 12px;
    }
    #p2{
        font-size: 8px;
    }
    footer {
        height: 227px;
    }
    h4 {
        font-size: 22px;
    }
    .single-content img {
        width: 170px;
        height: 200px;
    }
    .single-content {
        position: relative;
        margin-left: 58px;
        width: 170px;
        height: 200px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 12.5px;
        left: 12px;
    }
    .single-content-ichem img {
        width: 190px;
        height: 210px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 35%;
        width: 190px;
        height: 210px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 12px;
        font-size: 12.5px;
    }
    .liste {
        font-size: 15px;
    }
    .images_services{
        margin-left: 0px;
        height: 410px;
    }
    .geneve2-responsive{
        width: 164px;
        height: 187px;
    }
    .dubai3-responsive{
        width: 164.6px;
        height: 187px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    .images_services{
        margin-left: 0px;
        height: 200px;
    }
    .left4 {
        width: 30%;
        margin-left: 120px;
    }
    .devis{
        width: 120px;
        height: 25px;
    }
    .a1 {
        font-size: 12px;
    }
    h2 {
        font-size: 24px;
    }
    a {
        display: inline-block;
    }
    #card {
        margin-left: 40%;
    }
    .card{
        width:160px;
    }
    form{
        padding-left: 12px;
    }
    
    #p4{
        font-size: 15.6px;
    }
    .right3 {
        width: 340px;
        margin-left: 28px;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 120px;
    }
    #p3{
        font-size: 11px;
    }
    .left3{
        width: 38%;
    }
    label.left {
        float: none;
    }
}

@media screen and (min-width: 392px) and (max-width: 415px){
    .gotopbtn{
        display: none;
    }
    .ml2{
        font-size: 1.3em;
    }
    header{
        height: 220px;
    }
    .header-video{
        height: 233.1px;
    }
    .logo,  #logo{
        top: 20px;
        left: 30px;
        width: 55px;
    }
    nav li a {
        font-size: 9.5px;
    }
    p{
        font-size: 13px;
    }
    h3{
        font-size: 17px;
    }
    h1{
        font-size: 22px;
    }
    h4{
        font-size: 19px;
    }
    .ileft, .geneve-night-responsive{
        width: 206px;
        height: 220px;
    }
    .iright, .dubai-night-responsive{
        width: 207px;
        height: 220px;
    }
    #p1{
        font-size: 12px;
    }
    #p2{
        font-size: 8px;   
    }
    footer{
        height: 221px;
    }
    .link ul li .fab{
        font-size: 29px;
    }
    .link{
        height: 42px;
    }
    .table{
        height: 40px;
        display: flex;
    }
    .team-right {
        margin-right: 12px;
        width: 46%;
    }
    .team-left {
        width: 50%;
    }
    .single-content img {
        width: 130px;
        height: 160px;
    }
    .single-content {
        position: relative;
        margin-left: 20px;
        width: 150px;
        height: 160px;
        margin-bottom: 0px;
    }
    .single-content .title {
        left: 7px;
        font-size: 13px;
    }
    .single-content-ichem img {
        width: 150px;
        height: 180px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 31%;
        width: 150px;
        height: 180px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 7px;
        font-size: 13px;
    }
    .liste {
        font-size: 12.3px;
    }
    .images_services{
        margin-left: 0px;
        height: 440px;
    }
    .geneve2-responsive {
        width: 206px;
        height: 220px;
    }
    .dubai3-responsive{
        width: 207px;
        height: 220px; 
    }
    .geneve_night2-responsive, .dubai5-responsive{
        display: none;
    }
    .left4 {
        width: 40%;
        margin-left: 50px;
    }
    .right2{
        width: 45%;
        margin-left: 0px;
    }
    .devis{
        width: 115px;
        height: 30px;
    }
    .a1 {
        font-size: 11px;
    }
    #p3{
        font-size: 11px;
    }
    .left3{
        width: 240px;
        height: 195px;
        margin-left: 70px;
        margin-top: 20px;
        float: none;
        padding-top: 1px;
    }
    #p4{
        font-size: 13.5px;
    }
    .right3 {
        width: 290px;
        margin-left: 53px;
        float:none;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 95px;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 24px;
    }
    #card {
        margin-left: 33%;
    }
    .card{
        width:130px;
    }
    form{
        padding-left: 10px;
        width: 260px;
    }
}

@media screen and (min-width: 846px) and (max-width: 896px){
    header {
        height: 380px;
    }
    .gotopbtn{
        display: none;
    }
    .header-video {
        height: 504.1px;
    }
    .video{
        width: auto;
    }
    .logo,  #logo{
        top: 40px;
        left: 50px;
        width: 100px
    }
    nav {
        height: 48px;
    }
    nav li a {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    .ml2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 15px;
    }
    .ileft, .geneve-night-responsive {
        width: 447px;
        height: 400px;
    }
    .iright, .dubai-night-responsive{
        width:448px;
        height: 400px;
    }
    .link {
        height: 45px;
    }
    .link ul li .fab{
        font-size: 30px;
    }
    #p1 {
        font-size: 12px;
    }
    #p2 {
        font-size: 9px;
    }
    footer {
        height: 237px;
    }
    h4 {
        font-size: 25px;
    }
    .team-left {
        width: 48%;
    }
    .team-right {
        margin-right: 20px;
    }
    .single-content img {
        width: 190px;
        height: 210px;
    }
    .single-content {
        position: relative;
        margin-left: 100px;
        width: 190px;
        height: 210px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 14px;
        left: 13px;
    }
    .single-content-ichem img {
        width: 200px;
        height: 220px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 38%;
        width: 200px;
        height: 220px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 13px;
        font-size: 14px;
    }
    .liste {
        font-size: 15px;
    }
    .images_services {
        margin-left: 0px;
        height: 230px;
    }
    .geneve2-responsive {
        width: 221px;
        height: 230px;
    }
    .dubai3-responsive{
        width: 221.7px;
        height: 230px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    .devis {
        width: 140px;
        height: 28px;
    }
    #card {
        margin-left: 40%;
        height: 130px;
    }
    .card{
        width:170px;
    }
    a {
        display: inline-block;
    }
    form{
        padding-left: 6px;
    }
    
    #p4{
        font-size: 16.5px;
    }
    .right3 {
        width: 356px;
        margin-left: 25px;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 120px;
    }
    #p3{
        font-size: 12px;
    }
    .left3{
        width: 42%;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 27px;
    }
}

@media screen and (min-width: 742px) and (max-width: 770px){
    header {
        height: 380px;
    }
    .gotopbtn{
        display: none;
    }
    .header-video {
        height: 432px;
    }
    .video{
        width: auto;
    }
    .logo,  #logo{
        top: 40px;
        left: 50px;
        width: 100px
    }
    nav {
        height: 42px;
    }
    nav li a {
        font-size: 15px;
    }
    h1 {
        font-size: 32px;
    }
    .ml2 {
        font-size: 2em;
    }
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 16px;
    }
    .ileft, .geneve-night-responsive {
        width: 382px;
        height: 400px;
    }
    .iright, .dubai-night-responsive{
        width:383px;
        height: 400px;
    }
    .link {
        height: 45px;
    }
    .link ul li .fab{
        font-size: 30px;
    }
    #p1 {
        font-size: 12px;
    }
    #p2 {
        font-size: 9px;
    }
    footer {
        height: 237px;
    }
    h4 {
        font-size: 27px;
    }
    .single-content img {
        width: 190px;
        height: 210px;
    }
    .single-content {
        position: relative;
        margin-left: 68px;
        width: 190px;
        height: 210px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 15px;
        left: 13px;
    }
    .single-content-ichem img {
        width: 210px;
        height: 230px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 35.5%;
        width: 210px;
        height: 230px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 13px;
        font-size: 15px;
    }
    .liste {
        font-size: 16px;
    }
    .images_services {
        margin-left: 0px;
        height: 210px;
    }
    .geneve2-responsive {
        width: 189.5px;
        height: 210px;
    }
    .dubai3-responsive{
        width: 189.5px;
        height: 210px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    .devis {
        width: 140px;
        height: 28px;
    }
    #card {
        margin-left: 40%;
        height: 130px;
    }
    .card{
        width:170px;
    }
    a {
        display: inline-block;
    }
    form{
        padding-left: 12px;
    }
    
    #p4{
        font-size: 16.5px;
    }
    .right3 {
        width: 356px;
        margin-left: 25px;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 120px;
    }
    #p3{
        font-size: 12px;
    }
    .left3{
        width: 42%;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 27px;
    }
}

@media screen and (min-width: 898px) and (max-width: 1024px){
    .gotopbtn{
        display: none;
    }
    .header-video{
        height: 576px;
    }
    .logo,  #logo{
        top: 50px;
        left: 70px;
        width: 130px;
    }
    nav {
        height: 53px;
    }
    nav li a {
        font-size: 16px;
    }
    h1 {
        font-size: 37px;
    }
    .ml2 {
        font-weight: 700;
        font-size: 2.2em;
    }
    h3 {
        font-size: 23px;
    }
    p {
        font-size: 17px;
    }
    .ileft, .geneve-night-responsive {
        width: 510px;
        height: 450px;
    }
    .iright, .dubai-night-responsive{
        width:511px;
        height: 450px;
    }
    .link {
        height: 50px;
    }
    .link ul li .fab {
        font-size: 32px;
    }
    #p1 {
        font-size: 13px;
    }
    #p2 {
        font-size: 9px;
    }
    footer {
        height: 262px;
    }
    header {
        height: 500px;
    }
    h4 {
        font-size: 28px;
    }
    .single-content img {
        width: 210px;
        height: 230px;
    }
    .single-content {
        position: relative;
        margin-left: 100px;
        width: 210px;
        height: 230px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 15px;
        left: 15px;
    }
    .single-content-ichem img {
        width: 220px;
        height: 250px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 38%;
        width: 220px;
        height: 250px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 15px;
        font-size: 15px;
    }
    .liste {
        font-size: 17px;
    }
    .images_services {
        margin-left: 0px;
        height: 260px;
    }
    .geneve2-responsive {
        width: 253px;
        height: 260px;
    }
    .dubai3-responsive{
        width: 253px;
        height: 260px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    h2 {
        font-size: 30px;
    }
    #card {
        margin-left: 40%;
        height: 150px;
    }
    .card{
        width:195px;
    }
    a {
        display: inline-block;
    }
    form{
        padding-left: 12px;
    }
    
    #p4{
        font-size: 15.6px;
    }
    .right3 {
        width: 520px;
        margin-left: 25px;
    }
    #submit {
        height: 38px;
        width: 75px;
        margin-left: 40%;
    }
    #p3{
        font-size: 13px;
    }
    .left3{
        width: 35%;
    }
    label.left {
        float: none;
    }
}

@media screen and (min-width: 377px) and (max-width: 391px){
    .gotopbtn{
        display: none;
    }
    .ml2{
        font-size: 1.3em;
    }
    header{
        height: 220px;
    }
    .header-video{
        height: 220.3px;
    }
    .logo,  #logo{
        top: 12px;
        left: 25px;
        width: 55px;
    }
    nav li a {
        font-size: 8.8px;
    }
    p{
        font-size: 13px;
    }
    h3{
        font-size: 16px;
    }
    h1{
        font-size: 22px;
    }
    h4{
        font-size: 19px;
    }
    .ileft, .geneve-night-responsive{
        width: 194px;
        height: 220px;
    }
    .iright, .dubai-night-responsive{
        width: 195px;
        height: 220px;
    }
    #p1{
        font-size: 12px;
    }
    #p2{
        font-size: 8px;   
    }
    footer{
        height: 222px;
    }
    .link ul li .fab{
        font-size: 29px;
    }
    .link{
        height: 42px;
    }
    .table{
        height: 40px;
        display: flex;
    }
    
    .team-right {
        margin-right: 12px;
        width: 46%;
    }
    .team-left {
        width: 50%;
    }
    .single-content img {
        width: 135px;
        height: 160px;
    }
    .single-content {
        position: relative;
        margin-left: 14.5px;
        width: 150px;
        height: 160px;
        margin-bottom: 0px;
    }
    .single-content .title {
        left: 9px;
        font-size: 12.5px;
    }
    .single-content-ichem img {
        width: 150px;
        height: 180px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 30%;
        width: 150px;
        height: 180px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 9px;
        font-size: 12.5px;
    }
    .liste {
        font-size: 12.3px;
    }
    .images_services{
        margin-left: 0px;
        height: 440px;
    }
    .geneve2-responsive {
        width: 194px;
        height: 220px;
    }
    .dubai3-responsive{
        width: 195px;
        height: 220px; 
    }
    .geneve_night2-responsive, .dubai5-responsive{
        display: none;
    }
    .left4 {
        width: 40%;
        margin-left: 45px;
    }
    .right2{
        width: 47%;
        margin-left: 0px;
        height:115px;
    }
    .devis{
        width: 113px;
        height: 25px;
    }
    .a1 {
        font-size: 11px;
    }
    #p3{
        font-size: 11px;
    }
    .left3{
        width: 240px;
        height: 195px;
        margin-left: 70px;
        margin-top: 20px;
        float: none;
        padding-top: 1px;
    }
    #p4{
        font-size: 13.5px;
    }
    .right3 {
        width: 290px;
        margin-left: 53px;
        float:none;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 95px;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 24px;
    }
    #card {
        margin-left: 33%;
    }
    .card{
        width:130px;
    }
    form{
        padding-left: 10px;
        width: 260px;
    }
}

@media screen and (min-width: 772px) and (max-width: 844px){
    header {
        height: 380px;
    }
    .gotopbtn{
        display: none;
    }
    .header-video {
        height: 474px;
    }
    .video{
        width: auto;
    }
    .logo,  #logo{
        top: 40px;
        left: 50px;
        width: 100px
    }
    nav {
        height: 48px;
    }
    nav li a {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    .ml2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 15px;
    }
    .ileft, .geneve-night-responsive {
        width: 421px;
        height: 390px;
    }
    .iright, .dubai-night-responsive{
        width:422px;
        height: 390px;
    }
    .link {
        height: 45px;
    }
    .link ul li .fab{
        font-size: 30px;
    }
    #p1 {
        font-size: 12px;
    }
    #p2 {
        font-size: 9px;
    }
    footer {
        height: 237px;
    }
    h4 {
        font-size: 25px;
    }
    .team-left {
        width: 48%;
    }
    .team-right {
        margin-right: 20px;
    }
    .single-content img {
        width: 190px;
        height: 210px;
    }
    .single-content {
        position: relative;
        margin-left: 90px;
        width: 190px;
        height: 210px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 14px;
        left: 13px;
    }
    .single-content-ichem img {
        width: 210px;
        height: 230px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 37%;
        width: 210px;
        height: 230px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 1px;
        font-size: 14px;
    }
    .liste {
        font-size: 15px;
    }
    .images_services {
        margin-left: 0px;
        height: 225px;
    }
    .geneve2-responsive {
        width: 208px;
        height: 225px;
    }
    .dubai3-responsive{
        width: 208.7px;
        height: 230px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    .devis {
        width: 140px;
        height: 28px;
    }
    #card {
        margin-left: 40%;
        height: 130px;
    }
    .card{
        width:170px;
    }
    a {
        display: inline-block;
    }
    form{
        padding-left: 6px;
    }
    
    #p4{
        font-size: 16.5px;
    }
    .right3 {
        width: 356px;
        margin-left: 25px;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 120px;
    }
    #p3{
        font-size: 12px;
    }
    .left3{
        width: 42%;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 27px;
    }
}

@media screen and (min-width: 770px) and (max-width: 812px){
    header {
        height: 350px;
    }
    .gotopbtn{
        display: none;
    }
    .header-video {
        height: 456px;
    }
    .video{
        width: auto;
    }
    .logo,  #logo{
        top: 40px;
        left: 50px;
        width: 100px
    }
    nav {
        height: 48px;
    }
    nav li a {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    .ml2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 15px;
    }
    .ileft, .geneve-night-responsive {
        width: 405px;
        height: 390px;
    }
    .iright, .dubai-night-responsive{
        width:406px;
        height: 390px;
    }
    .link {
        height: 45px;
    }
    .link ul li .fab{
        font-size: 30px;
    }
    #p1 {
        font-size: 12px;
    }
    #p2 {
        font-size: 9px;
    }
    footer {
        height: 237px;
    }
    h4 {
        font-size: 25px;
    }
    .team-left {
        width: 48%;
    }
    .team-right {
        margin-right: 20px;
    }
    .single-content img {
        width: 180px;
        height: 200px;
    }
    .single-content {
        position: relative;
        margin-left: 80px;
        width: 180px;
        height: 200px;
        margin-bottom: 0px;
    }
    .single-content .title{
        font-size: 14px;
        left: 13px;
    }
    .single-content-ichem img {
        width: 200px;
        height: 220px;
    }
    .single-content-ichem {
        position: relative;
        margin-left: 37%;
        width: 180px;
        height: 200px;
        margin-bottom: 0px;
    }
    .single-content-ichem .title {
        left: 14px;
        font-size: 13px;
    }
    .liste {
        font-size: 15px;
    }
    .images_services {
        margin-left: 0px;
        height: 225px;
    }
    .geneve2-responsive {
        width: 200px;
        height: 220px;
    }
    .dubai3-responsive{
        width: 200.7px;
        height: 220px;
    }
    .geneve_night2-responsive, .dubai5-responsive{
    display: none;
    }
    .devis {
        width: 140px;
        height: 28px;
    }
    #card {
        margin-left: 40%;
        height: 130px;
    }
    .card{
        width:170px;
    }
    a {
        display: inline-block;
    }
    form{
        padding-left: 6px;
    }
    
    #p4{
        font-size: 16.5px;
    }
    .right3 {
        width: 356px;
        margin-left: 25px;
    }
    #submit{
        height: 30px;
        width: 66px;
        margin-left: 133px;
    }
    #p3{
        font-size: 12px;
    }
    .left3{
        width: 42%;
    }
    label.left {
        float: none;
    }
    h2 {
        font-size: 27px;
    }
}
    